#footer
  #footernav
    =link_to "Zedkit", "http://www.zedkit.com"
    <span>|</span>
    =link_to "ejw@zedkit.com", "mailto:ejw@zedkit.com"
    <span>|</span>
    =link_to "@zedkit", "http://twitter.com/#!/zedkit", :target => "_blank"
  #copyright== #{I18n.t(:copyright, :scope => [:home, :footer])} &copy; 2012, Zedkit. #{I18n.t(:reserved, :scope => [:home, :footer])}
  #language &nbsp;