%html
%head
  %title= I18n.translate(:window, :scope => [:home, :titles])
  =favicon_tag "/images/favicons/zed_circle.png"
  =stylesheet_link_tag "website", "fonts"
%body
  #main_wrapper
    #main_top= partial "shared/header"
    #main_mid= yield
    #main_bottom
    =partial "shared/footer"
